#blanksLetters {
  font-size: 48px;
}

h1 {
  font-family: "Playfair Display", serif;
}

main {
  display: grid;
  justify-items: center;
}

.hide {
  display: none;
}

.card.text-center {
  border-radius: 0.5;
}
